
.background {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 30px 15px rgba(0, 0, 255, 0.5); /* Blue shadow with opacity */
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../../assets/bg.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Adjust the blur level as needed */
  z-index: -1;
}


.card {
  background-color: white;
  padding: 50px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, .1);
  border-radius: 4px;
  text-align: center;
}
