<div class="background">
  <div class="card">
    <div style="text-align: center; margin-bottom: 15px;">
      <img src="../../..//assets/dhc.png" alt="Message" height="60px" width="60px">
    </div>
    <form
              nz-form
              [formGroup]="validateForm"
              class="login-form"
              (ngSubmit)="submitForm()"
            >
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock">
                    <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    nz-input
                    placeholder="Password"
                    formControlName="password"
                    [(ngModel)]="password"
                  />
                  </nz-input-group>
                  <ng-template #suffixTemplate>
                    <span
                      nz-icon
                      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                      (click)="passwordVisible = !passwordVisible"
                    ></span>
                  </ng-template>


                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <nz-input-group [nzSuffix]="suffixTemplateconf" nzPrefixIcon="lock">
                    <input
                    [type]="conpasswordVisible ? 'text' : 'password'"
                    nz-input
                    placeholder="Confirm Password"
                    formControlName="conpassword"
                    [(ngModel)]="conpassword"
                  />
                  </nz-input-group>
                  <ng-template #suffixTemplateconf>
                    <span
                      nz-icon
                      [nzType]="conpasswordVisible ? 'eye-invisible' : 'eye'"
                      (click)="conpasswordVisible = !conpasswordVisible"
                    ></span>
                  </ng-template>


                </nz-form-control>
              </nz-form-item>
              <button
                nz-button
                class="login-form-button login-form-margin"
                [nzType]="'primary'"
                [nzLoading]="isSaveLoading"
              >
             Save
              </button>
              <!-- <div class="login-form-forgot">have an Account?<a routerLink="/login">Login</a></div> -->
            </form>
  </div>
</div>
